# See reference docs at
# https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: Default branch ci
on:
  workflow_call:
    inputs:
      container-repo:
        required: true
        type: string
      container-version:
        required: true
        type: string
env:
  RUSTFLAGS: "-Dwarnings"
  CFLAGS: "-Werror"

jobs:
  lint-src:
    runs-on: ubuntu-22.04
    container:
      image: ${{ inputs.container-repo }}:${{ inputs.container-version }}
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
        with:
          # Unfortunately linting the sources requires running cmake, so we need to do a full checkout
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive

      - name: Mark directory as safe
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Lint src code style (clang-format, rustfmt)
        run: ./.ci/check-style
